<form action="/favourites" method="POST" class="inline-block">
  <input type="hidden" name="id" value="<%= home._id %>">
  <button
    type="submit"
    class="bg-red-500 hover:bg-red-600 text-white py-2 px-6 rounded-lg font-medium transition duration-300"
  >
    Favourite
  </button>
</form>
